body{
    font-family: sans-serif;
    margin:0;
    padding:0;
    font-size: 25px;
    color: black;
    background-image: url("../img/table.jpg");
    background-position: center;
}
img{
    max-width: 100%;
    max-height: 100%;
}
#content{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#nav{
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#nav > button{
    font-size: 35px;
    width: 20%;
}
#dealer{
    display: flex;
    height: 35%;
    padding: 10px;
    text-align: center;
    border-bottom: 10px dotted black;
}
.whos_hand{
    font-family: 'Brush Script MT', cursive;
    font-size: 150px;
    width: 40%;
    height: 100%;
    text-decoration: underline yellow;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#player{
    display: flex;
    padding: 10px;
    text-align: center;
    height: 50%;
}
.cards{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}
.hand{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#player_hand3, #player_hand4, #player_hand5,
#dealer_hand3, #dealer_hand4, #dealer_hand5{
    opacity: 30%;
}